.product-thumb {
  width: 100%;
  height: var(--spacing-xxxxl);
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

.cart-item-card {
  background-color: var(--bg-primary);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-sm);
  margin-bottom: var(--spacing-lg);
}

.cart-item-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
